[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"
pyinstaller = "*"

[requires]
python_version = "3.13"

[scripts]
start = "python main.py"
build = "pyinstaller main.spec"
clean = "rm -rf build/ dist/mypyside.exe"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
